{% macro input (name, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ options.type ?: 'text' }}" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value }}">
    </div>
{% endmacro %}

{% macro textarea (message, label, value = null, options = []) %}
    <div class="form-group {{ options.class }}">
        <label for="{{ message }}">{{ label }}</label>
        <textarea type="text" class="form-control" id="{{ message }}" name="{{ message }}">{{ value }}</textarea>
    </div>
{% endmacro %}

{% macro select(name, values, value, attributes) %}
    <label for="{{ name }}">{{ label }}</label>
    <select type="select" class="form-control" id="{{ name }}" name="{{ name }}">{{ value }}</select>
{% endmacro %}

{% macro button (label, options = []) %}
    <div class="form-group {{ options.class }}">
        <button type="submit" class="btn btn-bd-purple">{{ label }}</button>
    </div>
{% endmacro %}