{% extends 'default.html.twig' %}
{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block header %}{% endblock header %}

{% block content %}


        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-uppercase font-weight-bold">Articles</h1>
            </div>

            <div class="col-md-12 text-center">
                        <a href="?p=admin.posts.add" class="btn btn-outline-dark text-uppercase font-weight-bold">Ajouter article</a>
            </div>

        </div>

        <br/>


        <div class="row-fluid text-center">
            <div class="col-md-12 mx-auto">
                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <div class="list-group">
                        <td><a class="list-group-item"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ID</a></td>
                        <td><a class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Titre</a></td>
                        <td><a class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a></td>
                        <td><a class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Supprimer</a></td>
                        </div>
                    </tr>
                    </thead>
                    <tbody>

                    {% for article in articles %}
                    <div class="list-group">
                        <tr>
                            <td>
                            <a class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; {{ article.id }}</a>
                            </td>
                            <td>
                                <a class="list-group-item" href="{{ article.url }}"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;  {{ article.titre }}</a>
                            </td>

                            <td>
                                <a class="list-group-item btn btn-outline-dark" href="?p=admin.posts.edit&id={{article.id}}"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;  Editer</a>
                            </td>
                            <td>
                                <a class="list-group-item"><i class="fa fa-book fa-fw" aria-hidden="true"></i>
                                    <form action="?p=admin.posts.delete" method="post" style="display:inline">
                                  <input type="hidden" name="id" value="{{article.id}}">
                                    <button type="submit" class="btn btn-outline-danger"> Supprimer</button>
                                </form>
                                </a>
                            </td>

                        </tr>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

{% endblock %}




