{% extends 'layout.html.twig' %}
{% block head %}
    <title>Accueil</title>
{% endblock %}



{% block content %}


        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center text-uppercase font-weight-bold">Articles</h1>
            </div>

            <div class="col-md-10">
                <div>
                        <a href="?p=admin.posts.add" class="btn btn-outline-dark text-uppercase font-weight-bold btn-lg">Ajouter</a>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <div>
                    <a href="?p=admin.categories.index" class="btn btn-outline-dark text-uppercase font-weight-bold btn-lg">Catégories</a>
                </div>
            </div>

        </div>

        <br/>

        <div class="row display-4">
            <div class="col-md-12 mx-auto">
                <table class="table table-light">
                    <thead>
                    <tr class="font-weight-bold">
                        <td>ID</td>
                        <td>Titre</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>
                            <a href="{{ article.url }}">
                                {{ article.titre }}
                            </a></td>
                            <td>
                                <a class="btn btn-outline-dark" href="?p=admin.posts.edit&id={{article.id}}">Editer</a>
                                <form action="?p=admin.posts.delete" method="post" style="display:inline">
                                  <input type="hidden" name="id" value="{{article.id}}">
                                    <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                                </form>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

{% endblock %}




