{% extends 'with-sidebar.html.twig' %}
{% import 'form.html.twig' as form %}

{% block head %}
    <title>Edition</title>
{% endblock %}

{% block body %}
    {% block sidebar %}
        {{ parent() }}
        <h2>Edition Catégories</h2>

        <ul>
            {% for categorie in categories %}

                <li>
                    <a href="{{ categorie.url }}">
                        {{ categorie.titre }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <h1>Ajouter articles</h1>

            <div class="row">
                <div class="col-md-8 mx-auto">

                    <form method="post">
                        {{ form.input('titre', 'Titre de l\'article', name, {class: 'col-md-6', type: 'text'}) }}
                        {{ form.input('conetenu', 'Contenu de l\'article', name, {class: 'col-md-6', type: 'textarea'}) }}
                        {{ form.button('Sauvegarder', {class: 'col-md', type: 'submit'})}}
                        {{ form.select('Category_id', 'Catégories', name, value)}}
                    </form>

            </div>
        </div>


    {% endblock %}
{% endblock body %}