{% extends 'layout.html.twig' %}


{% block head %}
    <title>Edition - Articles</title>
{% endblock %}

{% block body %}
    {% block sidebar %}
        {{ parent() }}
        <h2>Articles</h2>

        <ul>

            {% if categories %}

                <li>
                    <a href="{{ categories.url }}">
                        {{ categories.titre }}
                    </a>
                </li>
            {% endif %}
        </ul>

    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <h1>Ajouter articles</h1>

            <div class="row">
                <div class="col-md-12 mx-auto">

                    <form method="post">

                        {{ form.input('titre', 'Titre de l\'article', {class: 'col-md-12', type: 'text'}) | raw }}
                        {{ form.textarea('contenu', 'Contenu de l\'article', {class: 'col-md-12'}) | raw }}

                        <label class="form-control-label">Catégories
                            <select id="select" class="form-control" name="category_id">
                                {% for category_id, categorie in categories %}
                                <option value="{{ category_id }}">
                                    {{ categorie }}
                                </option>
                                {% endfor %}
                            </select>
                        </label>

                        {{ form.submit('Sauvegarder', {class: 'col-md'}) | raw}}
                    </form>

                </div>

            </div>
        </div>


    {% endblock %}
{% endblock body %}