{% extends 'default.html.twig' %}


{% block head %}
    <title>Edition - Articles</title>
{% endblock %}
{% block header %}{% endblock header %}
{% block body %}


    {% block content %}

            <h1 class="text-uppercase font-weight-bold text-center">Editer / Ajouter article</h1>

            <div class="row">
                <div class="col-md-12 mx-auto">


                    <form method="post">

                        {{ form.input('titre', 'Titre de l\'article', {class: 'col-md-12', type: 'text'}) | raw }}
                        {{ form.textarea('chapo', 'Chapô de l\'article', {class: 'col-md-12'}) | raw }}
                        {{ form.textarea('contenu', 'Contenu de l\'article', {class: 'col-md-12'}) | raw }}
                        {{ form.input('auteur', 'Nom de l\'auteur', {class: 'col-md-12'}) | raw }}
                        <br>

                        <input type="hidden" id="date">

                        {{ form.submit('Sauvegarder', {class: 'col-md'}) | raw}}
                    </form>

                </div>

            </div>

    {% endblock %}
{% endblock body %}