{% extends 'default.html.twig' %}


{% block head %}
    <title>Edition - Articles</title>
{% endblock %}
{% block header %}{% endblock header %}
{% block body %}


    {% block content %}

            <h1 class="text-uppercase font-weight-bold text-center">Editer / Ajouter article</h1>

            <div class="row">
                <div class="col-md-12 mx-auto">

                    <form method="post">

                        {{ form.input('titre', 'Titre de l\'article', {class: 'col-md-12', type: 'text'}) | raw }}
                        {{ form.textarea('chapo', 'Chapô de l\'article', {class: 'col-md-12'}) | raw }}
                        {{ form.textarea('contenu', 'Contenu de l\'article', {class: 'col-md-12'}) | raw }}
                        {{ form.input('auteur_id', 'Id de l\'auteur', {class: 'col-md-12'}) | raw }}
                        <label class="form-control-label">Auteur
                                {% for auteur in auteurs %}
                                       <input class="form-control" name="{{ auteur }}"  id="{{ auteur.id }}" type="text" value="{{ auteur }}">
                                {% endfor %}
                        </label>
                        <br>
                        <label class="form-control-label">Catégories
                            <select id="select" class="form-control" name="category_id">
                                {% for category_id, categorie in categories %}
                                <option value="{{ category_id }}">
                                    {{ categorie }}
                                </option>
                                {% endfor %}
                            </select>
                        </label>
                        {{ form.input('date_modif', 'Date de modification', {class: 'col-md-12'}) | raw }}
                        {{ form.submit('Sauvegarder', {class: 'col-md'}) | raw}}
                    </form>

                </div>

            </div>

    {% endblock %}
{% endblock body %}