{% extends 'with-sidebar.html.twig' %}
{% import 'form.html.twig' as form %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <h2>Catégories</h2>

    <ul>
        {% if categories %}

            <li>
                <a href="{{ categories.url }}">
                    {{ categories.titre }}
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}

{% block main %}
    <div class="container-fluid jumbotron">


        <div class="row">
            <div class="col-md-8">
                <h2>Administrer les catégories</h2>
            </div>
            <div class="col-md-4">
                <div>
                    <a href="?p=admin.categories.add" class="btn btn-success">Ajouter</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mx-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Titre</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.titre }}</td>
                            <td>
                                <a class="btn btn-primary" href="?p=admin.categories.edit&id={{item.id}}">Editer</a>
                                <form action="?p=admin.categories.delete" method="post" style="display:inline">
                                    <input type="hidden" name="id" value="{{item.id}}">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}




