{% extends 'with-sidebar.twig' %}

{% block head %}

    <title>Accueil</title>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <h2>Catégories</h2>

{% for categories in categories %}
    <h4>{{ categories.titre }}</h4>
{% endfor %}

{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>Les derniers articles {{ current_page }} </h1>

        <div class="row">

            {% for articles in articles %}

                <div class="col-md-8">

                            <h4 class="card-title">{{ articles.titre }}</h4>
                            <p class="card-text">{{ articles.contenu | markdown | striptags | truncate(250, true, '...')}}</p>
                            <p class="card-text">{{ articles.date }} </p>

                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}
