{% extends '/with-sidebar.html.twig' %}
{% import '/form.html.twig' as form %}

{% block head %}

    <title>Accueil</title>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <h2>Catégories</h2>

    {% for categorie in categories %}
        <h4>{{ categories.titre }}</h4>
    {% endfor %}

{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1> {{ current_page }} </h1>

        <div class="row">

            {% for form in form %}
                {% if errors %}
                <div class="alert alert-danger">
                    Identifiants incorrects
                </div>
                {% endif %}

                <div class="col-md-8">

                        <div id='form' class="form-group">

                            {{ form.input('name', 'Votre nom', name, {class: 'col-md-6'}) }}
                            {{ form.input('email', 'Votre email', email, {class: 'col-md-6', type: 'email' }) }}
                            {{ form.textarea('message', 'Votre message', message, {class: 'col-md-10'}) }}

                            {{ form.button('Envoyer', {class: 'col-md'}) }}
                        </div>
                </div>


            {% endfor %}



        </div>
    </div>

{% endblock %}
