{% extends 'default.html.twig' %}

{% block head %}
    {% if articles %}
    <title>{{ articles.titre }} </title>
    {% endif %}
{% endblock %}



{% block main %}


    <div class="mx-auto text-justify">
    {% if articles %}
        <h1 class="display-4 text-center font-weight-bold text-uppercase">{{ articles.titre }}</h1>
        <img class="featurette-image img-fluid mx-auto" src="images/image-{{ articles.id }}.png" alt="Generic placeholder image">
        <br>
        <h4 class="jumbotron text-uppercase text-center"> {{ articles.chapo }}</h4>
        <p class="font-weight-bold text-center text-uppercase">Auteur :  {{ articles.auteur }} </p>
        <p class="font-weight-bold text-center text-uppercase">Dernière modification :  {{ articles.date_modif }} </p>
        <p class="text-justify"> {{ articles.contenu | markdown }} </p>
        <p>
        <a class="list-group-item btn btn-outline-dark" href="?p=admin.posts.edit&id={{articles.id}}"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;  Editer</a>
        </p>
    {% endif %}


    </div>


{% endblock %}